5toCiclo/DSWI/wsventasclientev04/src/conf/xml-resources/web-service-references/wsventas/wsdl/localhost_8080/wsventas04/wsventas.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="precioventa" type="tns:precioventa" />

<xs:element name="precioventaResponse" type="tns:precioventaResponse" />

<xs:complexType name="precioventa">
<xs:sequence>
<xs:element name="preciocompra" type="xs:double" />
<xs:element name="margenutilidad" type="xs:double" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="precioventaResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>