5toCiclo/DSWI/EC1Pregunta1Cliente/src/META-INF/wsdl/localhost_8080/EC1Pregunta1/medicows.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="lista" type="tns:lista" />

<xs:element name="listaResponse" type="tns:listaResponse" />

<xs:complexType name="lista">
<xs:sequence>
<xs:element name="codigo" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="listaResponse">
<xs:sequence>
<xs:element name="return" type="tns:medico" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="medico">
<xs:sequence>
<xs:element name="apellidos" type="xs:string" minOccurs="0" />
<xs:element name="basico" type="xs:double" minOccurs="0" />
<xs:element name="dni" type="xs:string" minOccurs="0" />
<xs:element name="especialidad" type="xs:string" minOccurs="0" />
<xs:element name="id_medico" type="xs:int" minOccurs="0" />
<xs:element name="ingreso" type="xs:dateTime" minOccurs="0" />
<xs:element name="nacimiento" type="xs:dateTime" minOccurs="0" />
<xs:element name="nombres" type="xs:string" minOccurs="0" />
<xs:element name="titulo" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>