5toCiclo/DSWI/wsalumnocliente/src/conf/xml-resources/web-service-references/wsalumno/wsdl/localhost_8080/wsalumno/wsalumno.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://wsalumno/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://wsalumno/">

<xs:element name="wscalcprom" type="tns:wscalcprom" />

<xs:element name="wscalcpromResponse" type="tns:wscalcpromResponse" />

<xs:complexType name="wscalcprom">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0" />
<xs:element name="carrera" type="xs:string" minOccurs="0" />
<xs:element name="turno" type="xs:string" minOccurs="0" />
<xs:element name="practica" type="xs:double" />
<xs:element name="participacion" type="xs:double" />
<xs:element name="examen" type="xs:double" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="wscalcpromResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>